/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #111;
    color: white;
}

.logo {
    width: 120px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav ul li a {
    color: white;
    font-weight: 600;
    padding: 10px;
    transition: color 0.3s;
}

.nav ul li a:hover {
    color: #ff4757;
}

/* Hero Section */
.hero {
    background: url('images/motorcycle-hero.jpg') center/cover no-repeat;
    text-align: center;
    padding: 100px 20px;
    color: rgb(58, 95, 188);
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
}

/* Categories Section */
.categories {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.category-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.category-card:hover {
    transform: translateY(-10px);
}

.category-card img {
    width: 300px;
    height: 240px;
    
}

.category-card h3 {
    padding: 20px;
    font-weight: 600;
    color: #333;
}

/* Footer */
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
}
